autoStart: true
comment: Auto start sequence to install some required fonts for Docker Linux Platform.
responseTimeout: 600
↓jIf [steps.IfStep-1742482606623]: 
  condition: java.lang.System.getenv("CONVERTIGO_VERSION") != null
  ↓Process_execute [steps.ProcessExecStep-1742392486006]: 
    commandLine: '["sudo", "apt-get", "update"]'
    output: true
  ↓Process_execute2 [steps.ProcessExecStep-1742393702073]: 
    commandLine: '["sudo", "apt-get", "install", "-y", "fontconfig"]'
    output: true
  ↓Process_execute3 [steps.ProcessExecStep-1768383620918]: 
    commandLine: '["sudo", "apt-get", "install", "-y", "software-properties-common"]'
    output: true
  ↓Process_execute4 [steps.ProcessExecStep-1768383671511]: 
    commandLine: '["sudo", "add-apt-repository", "universe"]'
    output: true
  ↓Process_execute1 [steps.ProcessExecStep-1768383612815]: 
    commandLine: '["sudo", "apt-get", "update"]'
    output: true
  ↓Process_execute5 [steps.ProcessExecStep-1768383757703]: 
    commandLine: '["sudo", "apt-get", "install", "-y", "libreoffice-writer", "libreoffice-core", "libreoffice-common"]'
    output: true
  ↓Process_execute6 [steps.ProcessExecStep-1768383892881]: 
    commandLine: '["sudo", "apt-get", "install", "-y", "ttf-mscorefonts-installer", "fonts-dejavu", "fonts-liberation"]'
    output: true
  ↓Process_execute7 [steps.ProcessExecStep-1768383999000]: 
    commandLine: '["sudo", "cp", "-rf", "fonts/.", "/usr/share/fonts/truetype/custom/"]'
    executionDirectory: .
    output: true
  ↓Process_execute8 [steps.ProcessExecStep-1768384001000]: 
    commandLine: '["sudo", "fc-cache", "-f", "-v"]'
    output: true
↓config_done [steps.SimpleStep-1742483611366]: 
  expression: |
    '// Enregistre la variable dans le serveur
    context.server.set("init_config", "done");
    var isSuccess = true;
    
    // Vérifie que l''enregistrement s''est bien effectué
    var InitOk = context.server.get("init_config") == "done";
    
    // Log final combiné
    if (InitOk) {
        log.warn("✅ ''init_config'' key properly set in Server.");
    } else {
    	isSuccess = false;
        if (!InitOk) log.warn("❌ ''init_config'' key not set in Server.");
    }
    
    context.addTextNodeUnderRoot("init_success", true);'